<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="/public/js/iepngfix_tilebg.js"></script>
        <script src="/public/js/prototypejs.js"></script>
        <script src="/public/Socket.IO/socket.io.js"></script>
        <link type="text/css" href="/public/css/base.css?v=201005081954" rel="stylesheet"/>
        <title><%= title %></title>
    </head>
    <body>
        <%= body %>
    </body>
    <script src="/public/js/monitor.js"></script>
</html>